<p id="notice"> <%=notice%> </p>

<h2><%= @category.name %></h2>
  <%= paginate @products, theme: 'twitter-bootstrap-3',
                   pagination_class: "pagination-sm"%>
<div class="row">
    <% @products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right"><%= product.price%></h4>
                    <h4><%= link_to product.name, product %></h4>
                    <p><%= product.description.truncate(100) %></p>
                </div>
            </div>
        </div>
    <%end%>
</div>
  <%= paginate @products, theme: 'twitter-bootstrap-3',
                   pagination_class: "pagination-sm"%>
