<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Store'}">

    <title>
      <%= content_for?(:title) ? yield(:title) : 'Store'%>
    </title>

    <%= stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>

<body>
    <header>
      <%= render 'layouts/navigation'%>
    </header>
    <main role="main">
      <%= render 'layouts/messages'%>

        <div class="container">

            <div class="row">

                <p class="lead">Категории</p>
                <div class="col-md-3">
                    <div class="list-group">
                        <% categories.each do |category| %>
                            <%= link_to category, class: "list-group-item" do %>
                                <span class="badge pull-right"><%= category.products.count %></span>
                                <%= category.name %>
                            <%end%>
                        <%end%>
                    </div>
                </div>

                <div class="col-md-9">

                    <%= yield %>
                </div>

            </div>

        </div>
        <!-- /.container -->

        <div class="container">

            <hr>

            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Company 2013 - Template by <a href="http://maxoffsky.com/">Maks</a>
                        </p>
                    </div>
                </div>
            </footer>

        </div>
    </main>
    <!-- /.container -->

    <!-- JavaScript -->

</body>

</html>
